:root {
    --common-color-1: #EE905A;
    --common-color-2: #D0D0D0;
    --common-color-3: #1F1713;
    --common-color-4: #403026;
}

.container {
    text-align: center;
    max-width: 80%;
    margin: auto;
    padding: 0;
}

.title {
    color: var(--common-color-1);
}

.button {
    padding: 8px 10px;
    border: 1px solid var(--common-color-1);
    cursor: pointer;
    border-radius: 30px;
    color: var(--common-color-1);
}

.descrizione {
    margin-bottom: 50px;
}

.significatoCarta,
.messaggioCarta,
.descrizione {
    color: var(--common-color-2);
}

.boxCarte {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.nomeCarta {
    font-size: 30px;
    font-weight: bold;
    color: var(--common-color-1);
}