@import "tailwindcss";

:root {
  --background: #1F1F1F;
  --foreground: #171717;
  --common-color-1: #ee905a;
  --common-color-2: #D0D0D0;
  --common-color-3: #1F1713;
  --common-color-4: #403026;
}

.container {
    max-width: 80%;
    margin: auto;
    padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);  
}

.hero {
  padding: 300px 0;
}

.title {
  font-size: 40px;
}

/* Home */

.title-home {
  color: var(--common-color-2);
  font-family: var(--font-unifraktur), cursive;
  font-size: 150px;
  text-align: center;
}

.description {
  font-size: 30px;
  font-family: var(--font-bodoni);
  color: var(--common-color-2);
  text-align: center;
}

/* VIDEO BACKGROUND */

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.1;
}


/* MEDIA QUERY */

@media screen and (max-width: 768px) {

  .title-home {
    font-size: 100px;
  }

  .description {
    font-size: 25px;
  }
}

@media screen and (max-width: 425px) {
  .title-home {
    font-size: 60px;
  }

  .description {
    font-size: 20px;
  }
}
