@import "tailwindcss";

:root {
  --background: #1F1F1F;
  --foreground: #171717;
  --common-color-1: #ee905a;
  --common-color-2: #D0D0D0;
  --common-color-3: #1F1713;
  --common-color-4: #403026;
}

.container {
    max-width: 80%;
    margin: auto;
    padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--common-color-3);  
}

.hero {
  padding: 200px 0;
}

.title {
  font-size: 40px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  padding: 25px 100px;
}

.logo {
  color: var(--common-color-2);
  font-size: 30px;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  color: white;
  border-radius: 50px;
}

.link-nav {
  transition: color 0.1s ease-in-out;
}

.link-nav:hover,
.link-nav:focus {
  color: #eea95a;
}

/* Home */

.title-home {
  color: var(--common-color-2);
  font-family: var(--font-unifraktur), cursive;
  font-size: 150px;
  text-align: center;
}

.description {
  font-size: 30px;
  font-family: var(--font-bodoni);
  color: var(--common-color-2);
  text-align: center;
}