:root {
    --common-color-1: #eea95a;
    --common-color-2: #D0D0D0;
    --common-color-3: #1F1713;
    --common-color-4: #403026;
}


.container {
    text-align: center;
    max-width: 80%;
    margin: auto;
    padding: 0;
}

.section {
    padding: 50px 0;
}


.containerText {
    max-width: 60%;
    margin: auto;
}

.title {
    font-size: 50px;
    font-family: var(--font-unifraktur), cursive;
    color: var(--common-color-1);
}

.title2 {
    font-size: 30px;
    color: var(--common-color-1);
}

.button,
.descrizione,
.title2 {
    font-family: var(--font-bodoni), serif;    
}

.button {   
    padding: 8px 10px;
    border: 1px solid var(--common-color-1);
    cursor: pointer;
    border-radius: 30px;
    color: var(--common-color-1);
    margin-bottom: 50px;
}

.button:hover {
    color: var(--common-color-3);
    background-color: var(--common-color-1);
}

.descrizione {
    font-size: 20px;
    margin-bottom: 50px;
}

.significatoCarta,
.messaggioCarta,
.descrizione {
    color: var(--common-color-2);
}

.boxCarte {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    max-width: 50%;
}

.nomeCarta {
    font-size: 30px;
    font-weight: bold;
    color: var(--common-color-1);
}

.carta {
    flex: 0 0 calc(33.333% - 50px);
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
    background: #fff;
    position: relative;
}

.centrale {
    box-shadow: 0 0 30px 10px rgba(238, 144, 90, 0.5);
}

