:root {
    --common-color-1: #eea95a;
    --common-color-2: #D0D0D0;
}



.container {
    text-align: center;
    max-width: 80%;
    margin: auto;
    padding: 0;
}

.section {
    padding: 50px 0;
}


.containerText {
    max-width: 60%;
    margin: auto;
}

.descrizione,
.button,
.messaggioCarta,
.significatoCarta,
.titleSignificato,
.titleMessaggio {
    font-family: var(--font-bodoni), serif;
}

.button {
    padding: 8px 10px;
    border: 1px solid var(--common-color-1);
    cursor: pointer;
    border-radius: 30px;
    color: var(--common-color-1);
    margin-bottom: 50px;
}

.button:hover {
    color: var(--common-color-3);
    background-color: var(--common-color-1);
}

.title {
    font-size: 50px;
    font-family: var(--font-unifraktur), cursive;
    color: var(--common-color-1);
}

.descrizione {
    font-family: var(--font-bodoni), serif;
    font-size: 20px;
    margin-bottom: 50px;
}


.carta {
    margin-top: 70px;
    max-width: 60%;
    padding: 10px 10px;
    border-radius: 30px;
    max-width: 250px;
    background: #fff;
    margin: auto;
    margin-bottom: 30px;
}

.nomeCarta {
    font-size: 30px;
    font-weight: bold;
    color: var(--common-color-1);
}

.significatoCarta,
.messaggioCarta,
.descrizione {
    color: var(--common-color-2);
}

.titlePage {
    font-size: 20px;
}

.titleSignificato,
.titleMessaggio {
    font-size: 30px;
    color: var(--common-color-1);
    margin-bottom: 5px;
}

.significatoCarta,
.messaggioCarta {
    font-size: 18px;
    margin-bottom: 30px;
}